# Variables generales Kubernetes

K8S_NAMESPACE=apps

DB_ENDPOINT=mysql-service
DB_PORT=3306
DB_NAME=devops_db

BACKEND_VENTAS_PORT=8080
BACKEND_DESPACHOS_PORT=8081

MYSQL_ROOT_PASSWORD=change_me_root
MYSQL_USER=devops_user
MYSQL_PASSWORD=change_me_password

FRONTEND_DESPACHO_IMAGE=account-id.dkr.ecr.us-east-1.amazonaws.com/frontend-despacho:tag
BACKEND_VENTAS_IMAGE=account-id.dkr.ecr.us-east-1.amazonaws.com/backend-ventas:tag
BACKEND_DESPACHOS_IMAGE=account-id.dkr.ecr.us-east-1.amazonaws.com/backend-despachos:tag
